<!DOCTYPE html>
<html>
{% load webpush_notifications %}
    <head>
        {% webpush_header %}

         <meta name="vapid-key" content="{{ vapid_key }}">
    {% if user.id %}
        <meta name="user_id" content="{{ user.id }}">
    {% endif %}
        <title>
            {% block head_title %}
            {% endblock head_title %}
        </title>
    </head>
    <body>
        {% block body %}
        {% block content %}
        {% endblock content %}
        {% endblock body %}
        {% block extra_body %}
        {% endblock extra_body %}
    </body>
</html>