body {
    background-color: rgb(247, 237, 196);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.App-header {
    width: 100%;
    height:100px;
    margin-bottom: 30px;
    background-color: darkcyan;
    display: flex;
    justify-content: space-between;
    padding: 0px 50px;
    align-items: center;
    box-sizing: border-box;
    position: relative;
}

.hidden {
    display: none;
}

.header_title {
    text-decoration: none;
    color: white;
}

.header_button {
    fill: lightcyan;
    transition: 0.3s;
}

.header_button:hover {
    fill: cornflowerblue;
    transform: scale(1.5);
}

.header_menu {
    border-radius: 20px;
    border: darkcyan 1px solid;
    box-sizing: content-box;
    padding: 40px 36px;
    position: absolute;
    top: 100px;
    right: 0;
    background-color: lightcyan;
}

.header_list {
    padding: 0;
    list-style-type: none;
}

.header_link {
    font-size: 20px;
    transition: 0.3s;
    margin-bottom: 24px;
}

.header_link:hover {
    transform: scale(0.95);
 }

.header_link_inner {
    text-decoration: none;
    color: darkcyan;
}

.header_link_inner:hover {
    color: cornflowerblue;
}

.main_container {
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profilepic_container {
    font-size: 20px;
    font-style: italic;
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 40px;
}
.personal_logout_button {
    text-decoration: none;
    padding: 8p;
    border-radius: 10px;
    background-color: rgb(170, 215, 125);
    font-size: 16px;
    padding: 10px;
    color: white;
    margin: 8px;
    transition: 0.3s;
}

.personal_logout_button:hover {
    background-color: cornflowerblue;
    transform: scale(1.2);
}

.personal_update_header {
    color: darkcyan;
    font-size: 24px;
    margin: 16px;
}

.personal_form {
    width: 50%;
    padding: 16px 40px;
    border: darkcyan 1px solid;
    border-radius: 10px;
    gap: 20px;
    font-size: 16px;
    background-color: lightcyan;
}

.personal_form_button {
    border: none;
    border-radius: 10px;
    background-color: darkcyan;
    font-size: 20px;
    padding: 15px;
    color: white;
    margin-bottom: 10px;
    text-decoration: none;
    transition: 0.3s;
}

.personal_form_button:hover {
    background-color: cornflowerblue;
    transform: scale(1.2);
}