{% extends '../default.html' %}
{% block title %}
Home Page
{% endblock title %}

{% block content %}
<h1>Welcome, guest!</h1>
<!-- {% if videos %}-->
<!--        {% for video in videos %}-->
<!--        <h1>{{ video.description }}</h1>-->
<!--        <video width="380" autoplay="autoplay" preload="auto"><source src="{{ video.file.url }}"></video>-->
<!--        {% endfor %}-->
<!--    {% else %}-->
<!--    <p>No videos.</p>-->
<!--    {% endif %}-->

<h2>Registartion and sign in</h2>
<button> <a href="/accounts/signup/">Register</a> </button>
<button> <a href="/accounts/login/">Login</a> </button>
<button> <a href="/accounts/logout/">Logout</a> </button>

<h2>Chats</h2>
<button> <a href="http://127.0.0.1:8000/public/">Public chats</a> </button>
<button> <a href="http://127.0.0.1:8000/private/">Private chats</a> </button>

<h3>Api</h3>
<button> <a href="http://127.0.0.1:8000/api/">API</a> </button>

{% endblock content %}